@model List<AspNetUsers>
@{
    Layout = null;
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<html>
<head>
    <div class="container h1 display-5 text-center px-2  shadow mt-5 text-light" style="background-color:#2C7865">
        <div class="row">
            <div class="col">
                <h2 class="text-center "> List of All Users</h2>
            </div>
        </div>
    </div>

    <style>
        table thead th {
            border: 1px solid white;
        }

        table tbody td {
            border: 1px solid black;
        }
    </style>
</head>

<body>


    <div class="container my-5">
        <table class="table table-striped table-hover ">
            <thead class=" table-dark">

            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Email
            </th>

            </thead>
            <tbody class=" border border-dark">
                @foreach (var booking in Model)
                {
                    <tr>
                        <td>@booking.First_Name</td>
                        <td>@booking.Last_Name</td>
                        <td>@booking.Email</td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</body>
</html>
<div class="d-flex justify-content-center">
    @Html.ActionLink(" Back to Home", "Admin", "Admin", null, new { @class = "btn mb-5 px-5 py-3 mt-2 rounded-3 text-white fa fa-arrow-left me-2", style = "background-color:#2C7865" })
</div>