<div class="col-md-6 ">
    <h2>Our Mission</h2>
    <p>
        Our mission at
        <b>
            DriveHub
        </b>is to revolutionize the way you travel. We strive to provide seamless and reliable car
        rentals, catering to your individual needs. Whether you require a fuel-efficient vehicle for a weekend getaway
        or a spacious SUV for a family road trip, we offer a diverse fleet at competitive rates. Our commitment
        extends beyond simply providing cars; we prioritize your safety and satisfaction, ensuring a smooth and
        enjoyable driving experience every time.
    </p>
    <h2>Our Values</h2>
    <ul>
        <li>Customer Satisfaction</li>
        <li>Safety and Reliability</li>
        <li>Competitive Rates</li>
        <li>Wide Selection of Vehicles</li>
    </ul>
</div>

<div class="col-md-6 mt-5 pt-5 d-flex flex-column align-items-center">
    <h2>Contact Information</h2>
    <p>
        Feel free to reach out to us using the information below, or fill out the contact form on the right.
    </p>
    <ul class="list-group">
        <li class="list-group-item">
            <i class="fas fa-phone-alt me-2" style="color:#2C7865"></i>
            Phone:
            <a href="tel:+923208180910"
                    <h3 class="" style="color:#2C7865"> +92320-8180910</h3>
                   </a>
        </li>
        <li class="list-group-item">
            <i class="fas fa-envelope me-2" style="color:#2C7865"></i> Email: <a href="mailto:farmanali35450@gmail.com" style="color:#2C7865">farmanali35450@gmail.com</a>
        </li>
        <li class="list-group-item">
            <i class="fas fa-map-marker-alt me-2" style="color:#2C7865"></i> Address:
            <a href="https://maps.app.goo.gl/5E5qdScQ3f3cntMDA" style="color:#2C7865">
                Lahore, Pakistan
            </a>
        </li>
    </ul>
</div>