@{
    ViewData["Title"] = "About Page";
}
<main class="container py-4">
    <div class="row">
        <div class="col-md-6 mt-5 pt-5">
            <img src="~/images/download.jpeg" alt="Company Car Image" class="img-fluid mb-3">
            <p>
                We believe in unlocking freedom through effortless car rentals. Our
                user-friendly system allows you to quickly find the perfect car for every adventure, from fuel-efficient
                companions for weekend getaways to spacious SUVs that fuel family road trip memories. Explore a world of
                possibilities with our diverse fleet – your ride awaits!
            </p>
        </div>
        <div class="col-md-6 mt-5 pt-5">
            <h2>Our Mission</h2>
            <p>
                Our mission at
                <b>
                    DriveHub
                </b>is to revolutionize the way you travel. We strive to provide seamless and reliable car
                rentals, catering to your individual needs. Whether you require a fuel-efficient vehicle for a weekend getaway
                or a spacious SUV for a family road trip, we offer a diverse fleet at competitive rates. Our commitment
                extends beyond simply providing cars; we prioritize your safety and satisfaction, ensuring a smooth and
                enjoyable driving experience every time.
            </p>
            <h2>Our Values</h2>
            <ul>
                <li>Customer Satisfaction</li>
                <li>Safety and Reliability</li>
                <li>Competitive Rates</li>
                <li>Wide Selection of Vehicles</li>
            </ul>
        </div>
    </div>
</main>