@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = null;
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<style>
    body {
        background-color: whitesmoke;
        height: 100vh;
        margin: 0px;
        padding: 0px;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .login-form {
        padding: 50px 0px;
        color: black;
    }

    
</style>
<div class="container ">

    <div class="row justify-content-center">

        <div class="col-md-5">
            <div class="card login-form mt-4">
                <section>
                    <h2 class="text-center">Forget Password</h2>
                    <hr>

                    <div class="card-body">
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                            <div class="form-group mt-2">
                                <label asp-for="Input.Email" class="form-label"></label>
                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"
                                       placeholder="Enter your Email" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <button type="submit" class="w-100 btn  mt-5 btn-primary">Reset Password</button>
                        </form>
                    </div>
                   </section>
            </div>

        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}